@import "./Logo/_logo.scss";

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 99%;
  background-color: $secondary-bg-color;
}
