@import "~bootstrap/scss/bootstrap";
@import "./styles/_variables.scss";
@import "./styles/_mixins.scss";
@import "./components/common/Header/_header.scss";
@import "./components/Sidebar/_sidebar.scss";
@import "./components/common/LinkTo/_link-to.scss";
@import "./components/Authors/_authors.scss";
@import "./components/common/Search/_search.scss";
@import "./components/Books/_books.scss";
@import "./components/common/Form/_form.scss";
@import "./components/common/SuccessPopUp/_success-pop-up.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.center {
  margin: 0 auto;
  width: 98vw;
}

.wrap {
  text-align: center;
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  grid-template-rows: 50px 100%;
  grid-template-columns: 15% 85%;
  background-color: $main-bg-color;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 0.5rem;
  background-color: #c4c4c4;
  height: 98.5%;
}

.hide {
  display: none;
}
